<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if user}}
<h2>Hello {{user.username}}</h2>
<a href="/private">
    Secret Page
  </a>
<form action="/logout" method='POST'>
  <button type='submit'>Logout</button>
</form>
{{/if}}
{{#unless user}}
<a href="/signup">Signup</a>
<a href="/login">Login</a>
{{/unless}}